<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OperatServicesSoap" />
                <binding name="MemberServicesSoap" />
                <binding name="ProdctServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62386/Services/OperatServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="OperatServicesSoap"
                contract="OperatServices.OperatServicesSoap" name="OperatServicesSoap" />
            <endpoint address="http://localhost:62386/Services/MemberServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="MemberServicesSoap"
                contract="MemberServices.MemberServicesSoap" name="MemberServicesSoap" />
            <endpoint address="http://localhost:62386/Services/ProdctServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProdctServicesSoap"
                contract="ProductServices.ProdctServicesSoap" name="ProdctServicesSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
